<html lang="en" ng-app>
<script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script src="./lib.js"></script>
<script src="./index.js"></script>
<script src="./range.js"></script>
<script src="./color.js"></script>
<script src="./color_class.js"></script>

<link href="./index.css" type="text/css" rel="stylesheet" />

<script>
$(function(){
	onload();
	$( ".slider" ).slider({
	  change: function( event, ui ) {redraw()}
	});
	$(".on_change_update").change(function(){
		redraw();
	});
});
</script>

<body>

	<div class="container">
		<div class="row">

			<!--UI-->
			<div class="col-md-5">
				<h1>button generator</h1>
				<h1>
					<span id="button_width_view">0</span> x 
					<span id="button_height_view">0</span>
				</h1>
				<form id="ui_box" style="padding:10px;">

					<!--slider-->
					<div ng-controller="rangeController" >
						<span ng-repeat="range in ranges">
							<span class="label label-success slider-range">{{range.min}}</span>
								<input type="range" class="on_change_update" id="range_{{range.id}}" min="{{range.min}}" max="{{range.max}}" step="{{range.step}}" ng-model="val">
							<span class="label label-success slider-range">{{range.max}}</span>

								<span class="label label-primary">{{range.id}}</span>
								{{range.text}}:{{val}}<br>
						</span>
					</div>

					Text:<input class="on_change_update form-control" style="width:300px;" type="text" id="input_text" size="30" maxlength="30" value="Buttonテキスト"><br>

					Font : <select class="on_change_update" id="select_font">
						<option value="Georgia">Georgia</option>
						<option value="Impact">Impact</option>
						<option value="Times">Times(英語のみ)</option>
					</select>
					<br>
					Button Color: <input class="on_change_update" id="input_color_button" type="color" value="#0000FF"><br>
					Font Color:   <input class="on_change_update" id="input_color_font" type="color" value="#FFFFFF"><br>

					<!-- Check Box -->
					<input id="checkbox_shadow" type="checkbox" class="on_change_update"> shadow<br>
					<input id="checkbox_gradation" type="checkbox" class="on_change_update"> gradation<br>

					<!--debug-->
					<div id="color_debug">
					</div>

				</form>
			</div>

			<!--Canvas & DL-Button-->
			<div class="col-md-7">
			    <canvas class="canvas" id="canvas" width="300" height="200"></canvas>
					<a class="btn btn-primary" style="width:100px;" href="#" width="100" onclick="screenshot('canvas');">DL</a><br>
			    <canvas class="canvas" id="canvas_pressed" width="300" height="200"></canvas>
					<a class="btn btn-primary" style="width:100px;" href="#" width="100" onclick="screenshot('canvas_pressed');">DL(pressed)</a>
			</div>

		</div>
	</div>

</body>
</html>